body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    border: 4px solid green;
    margin:0;
}

nav a{
    border-radius: 10px;
    border: 7px solid black;
    text-decoration: none;
    margin: 10px;
}

nav{
    padding-top: 30px;
}

p img{
    width: 200px;
    height: 150px;
}

.name{
    text-align: center;
}
